@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

.menu h1,li,a,button{
    font-family: "Roboto+Mono", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
}

.menu {
    transition: all 0.3s ease 0s;
    background-color: #242424;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.menu:hover{
    background-color: #333333;
}

.menu h1{
    transition: all 0.3s ease 0s;
    margin-right: auto;
    font-size: 40px;
    cursor: pointer;
}

.menu h1:hover{
    color: #0088a9;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s
}

.nav_links li a:hover{
    color: #0088a9;
}

.menu button{
    transition: all 0.3s ease 0s;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border-radius: 50px;
    cursor: pointer;
}

.menu button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}